@{
    ViewBag.Title = "Home Page";
}

<div class="row" >
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.DateTime.ToString("dd/MM/yyy HH:mm") - @course.AspNetUser.Name
            </li>
        }
    </ul>
</div>